// Paddings
.p-30 {
  margin-top: 30px;
}

.pt-70 {
  padding-top: 70px;
}

.mt-22 {
  margin-top: 22px;
}

// Images
.front-image {
  width: 100%;
  height: 315px;
  margin-top:10px;
  margin-bottom: 20px;
}

// Panels 

.panel {
    box-shadow: 0 2px 4px rgba(0 , 0, 0, .18) !important;
}

.panel-default > .panel-heading {
    background-color: hsl(210, 9%, 96%) !important;
}