
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "tailwind";
@import "custom";
@import "blankslate";
@import "markdown";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap-social/bootstrap-social";

.media-object 
{
    width: 100px; 
    height: 100px;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.p-3 {
    padding: 0.75rem !important;
}

.mr-3 {
    margin-right: 0.75rem !important;
}

.m-0 {
    margin: 0 !important;
}

.bg-red {
    background-color: #cd201f !important;
  }
  

.stamp {
color: #fff;
background: #868e96;
display: inline-block;
min-width: 3rem;
height: 2rem;
padding: 0 .25rem;
line-height: 2rem;
text-align: center;
border-radius: 3px;
font-weight: 600;
}

.stamp-md {
min-width: 3.2rem;
height: 3.2rem;
line-height: 3.2rem;
}
